In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Hem Kumar Reddy/Desktop/socialmedia-disaster-tweets-DFE.csv')

In [3]:
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,keyword,location,text,tweetid,userid
0,778243823,True,golden,156,NaN,Relevant,1.0000,Relevant,NaN,NaN,Just happened a terrible car crash,1.0,NaN
1,778243824,True,golden,152,NaN,Relevant,1.0000,Relevant,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,13.0,NaN
2,778243825,True,golden,137,NaN,Relevant,1.0000,Relevant,NaN,NaN,"Heard about #earthquake is different cities, s...",14.0,NaN
3,778243826,True,golden,136,NaN,Relevant,0.9603,Relevant,NaN,NaN,"there is a forest fire at spot pond, geese are...",15.0,NaN
4,778243827,True,golden,138,NaN,Relevant,1.0000,Relevant,NaN,NaN,Forest fire near La Ronge Sask. Canada,16.0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               10876 non-null  int64
 1   _golden                10876 non-null  bool
 2   _unit_state            10876 non-null  object
 3   _trusted_judgments     10876 non-null  int64
 4   _last_judgment_at      10792 non-null  object
 5   choose_one             10876 non-null  object
 6   choose_one:confidence  10876 non-null  float64
 7   choose_one_gold        87 non-null     object
 8   keyword                10789 non-null  object
 9   location               7238 non-null   object
 10  text                   10876 non-null  object
 11  tweetid                10876 non-null  float64
 12  userid                 10789 non-null  float64
dtypes: bool(1), float64(3), int64(2), object(7)
memory usage: 1.0+ MB

# TO spot the disasters, many institutions use social media data

More information is spread on Internet rather than News channels

Dataset:- The dataset is collection of tweets and classified as relevant and irrelevant

In [6]:
print(df.describe())

           _unit_id  _trusted_judgments  choose_one:confidence       tweetid  \
count  1.087600e+04        10876.000000           10876.000000  1.087600e+04
mean   7.782503e+08            6.022527               0.842037  6.238791e+17
std    3.200574e+03           10.463834               0.168086  5.602753e+16
min    7.782438e+08            3.000000               0.334200  1.000000e+00
25%    7.782475e+08            5.000000               0.714900  6.290000e+17
50%    7.782503e+08            5.000000               0.804900  6.290000e+17
75%    7.782530e+08            5.000000               1.000000  6.290000e+17
max    7.782611e+08          157.000000               1.000000  6.290000e+17

             userid
count  1.078900e+04
mean   1.231422e+09
std    1.167599e+09
min    3.840000e+03
25%    1.870027e+08
50%    6.342173e+08
75%    2.416228e+09
max    3.404474e+09

# Summary statistics provides quick understanding of distribution, central tendency, dispersion and other properties of the data

Mean = The arithmetic Average of all the values in the dataset 

* It is calculated by adding up all values and dividing by the number of values

Median = The middle value of the dataset

* It is less effected by the outlier's (extreme value)

Mode = Most repeated (or) frequent values

Range = The difference between the maximum and minimum number

Variance measures how much the value deviates from the mean

Variance

Variance is the average of the sqaured differences between each value and the mean

Stanndard Deviation

Standard Deviation is the square root of the variance

Percentile

Percentile divides the dataset into specified portions

25th percentile (Q1)

75th percentile (Q3)

Inter Quartile Range (IQR):-
    
    The range between the 75th Percentile (Q3) and 25th Percentile (Q1)

Skewness:-

    A measure of asymmetry of the data
    
    Positive skewness indicates - a longer tail on the right side
    Negative skewness indicates - a longer tail on the left side

Kurtosis:-
    
    A measure of the heaviness of the tails of the data distribution compared to normal distribution.
    
    High Kurtosis indicates more extreme values in the tails